<!-- <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand">Week4 Lab</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li>
                <a class="nav-link" routerLink="/account">Account</a>
            </li>
            <li>
                <a class="nav-link" routerLink="/login">login</a>
            </li>
        </ul>
    </div>
</nav> -->
<app-nav></app-nav>
<div>
<h1>Account Page</h1>
<h4>{{email}}</h4>
<img src="assets/images/test.jpg">
</div>